<app-navigation-bar></app-navigation-bar>
<div class="d-flex justify-content-center">
  <div class="container">
    <swiper
        [slidesPerView]="1"
        [autoHeight]="true"
        [navigation]="true"
      >
        <ng-template swiperSlide>
          <img src="https://assets.entrepreneur.com/content/3x2/2000/20190620131326-Example-of-Personal-Trainer-Business-Ideas-Bigstock-4000pxW-X-2670pxH-copy.jpeg" class="h-100" alt="First Image">
        </ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
      </swiper>
  </div>
</div>


